.userActionLog {
  margin-top: 20px;
}

.list {
  display: flex;
  flex-direction: column-reverse;
}

.listItem {
  height: 2.5rem;
  background-color: var(--dark-white);
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  display: flex;
}

.time {
  margin: 0 30px 0 10px;
  padding: 2px;
  border-radius: 10px;
  background-color: var(--white);
}

.imageId {
  margin-right: 5px;
}

.image {
  margin: auto 10px auto auto;
}
