.container {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 120px;
}

.section {
  margin-top: 45px;
}

.header {
  margin-top: 50px;
}

.selectors {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}
